body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  /* background-color:; */
}
.container{
  text-align: center;
}

.aside {
  width: 25%;
  display: inline-block;
  background-color: blanchedalmond;
}

#movies{
  float: right;
  width:73%;
  
  
}

.figure{
  width: 100%;
}

.figure img{
  width:90%;
  margin-left: 4%;
  margin-right: 4%;
  height: 700px;
  margin-top: 1%;
  border-radius: 2%;

}

#ButtonForm {
  padding: .5% 23%;
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
background-color: #007bff;
color: white;
font-size: larger;
}

.figure-caption{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.figure-caption div{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}


